:root {
    /* Theme */
    --backgroundColor: beige;
    --contentColor: rgb(38, 160, 189);
    --cardsColor: rgb(38, 160, 189);
    --shadowColor: rgb(155, 247, 108);
    --borderColor: lightgray;
    --textColor: white;

    /* Dimensions */
    --xsRadius: 4px;
    --smRadius: 8px;
    --mdRadius: 12px;
    --smSpacing: 8px;
    --mdSpacing: 12px;
}

* {
    font-family: "Roboto Slab", serif;
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background-color: var(--backgroundColor);
}

a {
    text-decoration: none;
    color: inherit;
}

.siteHeader {
    position: sticky;
    top: 0;
    z-index: 0;
    display: flex;
    justify-content: center;
    padding: 60px;
}

.pageContainer {
    display: flex;
    justify-content: center;
    flex-direction: row;
    background-color: var(--contentColor);
    z-index: 1;
    flex-grow: 1; 
    gap: var(--mdSpacing);
    padding: var(--mdSpacing);
}

.sideBar {
    display: none;
    color: var(--textColor);
    width: 300px;
}

fieldset {
    padding: var(--smSpacing);
}

fieldset label{
    display: flex;
    justify-content: space-between;
}

select, input{
    width: 22ch;
}

#filterOptions {
    display: flex;
    flex-direction: column;
    gap: var(--mdSpacing);
}

.mainContent {
    display: flex;
    align-items: center;
    flex-direction: column;
    position: relative;
    border-radius: var(--mdRadius) var(--mdRadius) 0px 0px;
}

.cardsContainer{
    width: 1800px;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(500px, 1fr));
    gap: var(--mdSpacing);
    align-content: start;
    flex-grow: 1;
}

.card {
    color: var(--textColor);
    display: flex;
    flex-direction: row;
    width: 100%;
    gap: var(--mdSpacing);
    padding: var(--mdSpacing);
    background-color: var(--cardsColor);
    border-width: 2px;
    border-style: solid;
    border-color: var(--borderColor);
    border-radius: var(--smRadius);
    transition: all 0.1s ease;
    box-sizing: border-box;
}

.card:hover {
    transform: scale(1.01);
    box-shadow: 0 0 15px 2px var(--shadowColor);
}

.nameBox{
    overflow-wrap: break-word;
}

.imgBox {
    width: 200px;
    height: 200px;
    overflow: hidden;
    border-radius: var(--xsRadius);
}

.imgBox img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
}

.characterData{
    justify-content: center;
    display: flex;
    flex-direction: column;
    gap: var(--mdSpacing);
}

.statsBox {
    display: flex;
    flex-direction: row;
}

.pagination{
    display: none;
    flex-direction: row;
    margin: var(--mdSpacing);
}

.paginationButton{
    background-color: beige;
    width: 50px;
    height: 50px;
    border-style: none;
}

.paginationButton:active{
    background-color: rgb(187, 187, 168);
}

.pages{
    display: flex;
    flex-direction: row;
}

.featuresContainer{
    display: none;
    flex-grow: 1;
    border-style: solid;
    border-width: 2px;
    border-radius: var(--mdRadius);
    margin: var(--mdSpacing);
    padding: var(--mdSpacing);
    color: var(--textColor);
    flex-direction: row;
    gap: var(--mdSpacing);
    width: 700px;
}

.features{
    display: flex;
    flex-direction: column;
    width: 200px;
    gap: var(--mdSpacing);
}

.episodeList {
    list-style-position: inside;
}

.spin{
    border-style: solid;
    border-color: var(--contentColor) var(--contentColor) var(--contentColor) white;
    width: 60px;
    height: 60px;
    border-radius: 30px;
    animation: spin 2s linear infinite;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

.loadingState{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 50px;
    color: var(--textColor);
}